# General
LOGGING_LEVEL=debug

# Backend
ADMIN_TOKEN=supersecrettoken69
EXTERNAL_ENDPOINT=misis-admission.seizure.icu  # TODO: Remove after removing Traefik labels if not debugging!

# Backend — Google Sheets
WS_CONTENT_ID=0
WS_TELEMETRY_ID=12345678
WS_USERS_ID=8765432
WS_ADMINS_ID=1234567
GOOGLE_API_TOKEN='{
  "type": "service_account",
  "project_id": "misis-admission",
  "private_key_id": "3914981abcde",
  "private_key": "-----BEGIN PRIVATE KEY-----\nPRIVKEY\n-----END PRIVATE KEY-----\n",
  "client_email": "misisbot@misis-admission.iam.gserviceaccount.com",
  "client_id": "12345678765432",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/misisbot%40misis-admission.iam.gserviceaccount.com"
}'

# Bots
BACKEND_URI=backend
TG_TOKEN=1234567890:ABCDEFFNENFAOFNCFAOC=
VK_TOKEN=vk1.a.ABCDEFassdakawd
